@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-clr: #202020;
  --scd-clr: #ffffff;
  --trd-clr: black;
  --main-font: "PT serif", "serif";
  --scd-font: "Poppins", "sans-serif";
  --giant-size: calc(3.5rem + 5vw);
  --hero-size: calc(2rem + 3.5vw);
  --sub-size: calc(1rem + 2.75vw);
  --big-msg-size: calc(1rem + 2.5vw);
  --bigger-msg-size: calc(1.25rem + 3.2vw);
  --medium-size: calc(1rem + 1.75vw);
  --desc-size: calc(0.5rem + 1vw);
  --small-size: calc(0.5rem + 0.5vw);
  --nav-size: calc(3rem + 1.5vw);
  --small-ls: calc(0.025rem + 0.05vw);
  --medium-ls: calc(0.05rem + 0.1vw);
  --medium-container: min(calc(30rem + 15vw), 70vw);
  --big-container: min(calc(50rem + 15vw), 80vw);
  --half-full-container: (calc(10rem + 35vw), 55vw);
  --full-container: min(calc(50rem + 25vw), 85vw);
  --wide-container: min(calc(60rem + 35vw), 90vw);
  --basic-height: calc(37.5rem + 25vw);
  --regular-padding: calc(1rem + 3vw);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--main-font);
  z-index: 1;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(255, 0, 0, 0.705);
  color: var(--scd-clr);
}

::-webkit-scrollbar {
  width: calc(0.25vw + 1rem);
}

::-webkit-scrollbar-track {
  background: #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(168, 8, 8) 50%, white 50%);
}

.no-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-clr);
  color: var(--scd-clr);
}

img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

section {
  margin: var(--regular-padding) 0;
}

.main-container {
  width: 100vw;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-size);
  background-color: var(--trd-clr);
  text-align: center;
  z-index: 2;
}

nav a {
  color: var(--scd-clr);
  text-decoration: none;
  font-size: var(--desc-size);
  font-weight: bold;
  z-index: 5;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@keyframes fade-pop {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-pop {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.upper {
  object-position: 55% center;
}

.overlay {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: 0;
}

.overlay img {
  position: absolute;
  transition: opacity 2s ease;
  animation: fade-pop 7s ease;
  -webkit-animation: fade-pop 7s ease;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-container {
  text-align: center;
  height: 100vh;
  z-index: 5;
}

.hero-title {
  font-size: var(--hero-size);
  line-height: 100%;
  padding-bottom: calc(0.25rem + 0.75vw);
  letter-spacing: calc(0.05rem + 0.15vw);
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.hero-desc {
  font-size: var(--desc-size);
  font-family: var(--scd-font);
  letter-spacing: 0.05vw;
  -webkit-animation: fade-in-top 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes cta {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cta {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cta {
  position: absolute;
  bottom: 0;
}

.scroll-text {
  white-space: nowrap;
  text-transform: uppercase;
  position: absolute;
  font-size: var(--small-size);
  letter-spacing: calc(0.05rem + 0.15vw);
  padding-bottom: calc(2.5rem + 8vh);
  font-family: var(--scd-font);
  animation: cta 6.5s ease;
}

.hero-line {
  width: calc(1px + 0.05vw);
  height: calc(1rem + 5vh);
  background-color: var(--scd-clr);
  animation: cta 5s ease;
}

.intro-container {
  height: max(1080px, auto);
  padding: calc(var(--nav-size) + 0.5rem) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-headline-container {
  height: 40%;
  text-align: center;
  width: calc(var(--big-container) + 2vw);
}

.intro-subtitle {
  font-size: var(--sub-size);
  font-weight: normal;
  letter-spacing: var(--small-ls);
  margin-bottom: var(--small-size);
}

.intro-desc {
  font-size: var(--desc-size);
  font-family: var(--scd-font);
}

.intro-img {
  height: calc(12rem + 25vw);
  width: calc(var(--big-container) + 2vw);
  background-color: var(--scd-clr);
  margin: var(--regular-padding) 0 0;
}

.fact-container {
  height: calc(5rem + 15vw);
  margin-bottom: calc(var(--regular-padding) * 2);
  flex-direction: row;
}

.fact-line {
  width: calc(1rem + 15vw);
  height: calc(1px + 0.05vw);
  background-color: var(--scd-clr);
  margin: 0 calc(1.5rem + 2vw);
}

.fact-number {
  font-size: var(--sub-size);
}

.fact-name {
  font-size: var(--small-size);
  text-transform: uppercase;
  font-family: var(--scd-font);
  letter-spacing: var(--medium-ls);
}

.section-two {
  height: auto;
  width: 100%;
}

.news-container {
  width: var(--full-container);
}

.news-headline {
  width: var(--medium-container);
  padding-bottom: var(--regular-padding);
}

.news-headline p {
  font-size: var(--small-size);
  white-space: nowrap;
  text-transform: uppercase;
  font-family: var(--scd-font);
  letter-spacing: var(--small-ls);
  margin-bottom: calc(0.35rem + 0.5vw);
}

.news-headline h2 {
  font-size: var(--medium-size);
  font-weight: normal;
}

.news-image {
  height: calc(20rem + 20vw);
}

.news-info {
  width: 100%;
  height: calc(20rem + 25vw);
  display: flex;
  align-items: center;
}

.news-img-container {
  width: calc(60rem + 55vw);
  height: 80%;
}

.news-desc-container {
  font-size: var(--desc-size);
  width: var(--half-full-container);
  line-height: 125%;
  letter-spacing: var(--small-ls);
  padding-left: var(--regular-padding);
}

.news-desc-container p {
  font-family: var(--scd-font);
  font-size: var(--desc-size);
}

.section-three {
  padding: var(--regular-padding) 0;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -9)
    );
    transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -9)
    );
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -9)
    );
    transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -9)
    );
  }
}

.dark img {
  filter: brightness(75%);
}

.darken img {
  filter: brightness(55%);
}

.slider {
  margin: calc(var(--regular-padding) + 2vw) 0;
  height: calc(5rem + 12.5vw);
  background-color: var(--main-clr);
  overflow: hidden;
  position: relative;
  width: 100vw;
  cursor: context-menu;
}

.slide-track {
  -webkit-animation: scroll 45s linear infinite;
  animation: scroll 45s linear infinite;
  display: flex;
  position: absolute;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  width: calc(10rem + 16.72vw);
  height: calc(5rem + 12.5vw);
  background-color: var(--scd-clr);
  margin-left: calc(var(--regular-padding) / 2);
  transition: 250ms ease;
  position: relative;
  cursor: context-menu;
}

.slide p {
  opacity: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-family: var(--scd-font);
  width: 100%;
  height: 100%;
  z-index: 10;
  font-size: calc(var(--desc-size) + 1vw);
  -webkit-filter: brightness(500%);
  filter: brightness(500%);
  transition: 250ms ease;
  line-height: 100%;
}

.slide:hover {
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
}

.slide p:hover {
  opacity: 1;
}

.slide:active {
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
}

.slide p:active {
  opacity: 1;
}

.kinds-headline-container {
  text-align: center;
}

.kinds-headline-container h2 {
  font-size: var(--sub-size);
  font-weight: normal;
  padding-bottom: calc(0.5rem + 1vw);
}

.kinds-headline-container p {
  width: calc(var(--medium-container) + 5vw);
  font-size: var(--desc-size);
  font-family: var(--scd-font);
}

.section-four {
  margin-top: var(--nav-size);
}

.unity-container {
  width: var(--wide-container);
  height: var(--basic-height);
}

.unity-msg-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unity-msg-container h2 {
  width: var(--big-container);
  font-weight: normal;
  font-size: var(--big-msg-size);
  line-height: 125%;
  margin-right: var(--regular-padding);
}

.unity-msg-container img {
  width: calc(12rem + 12.5vw);
  height: calc(10rem + 15vw);
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  align-self: flex-end;
}

.unity-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--regular-padding) * 1.5) 0 var(--regular-padding);
}

.unity-info-container img {
  width: calc(30rem + 22.5vw);
  height: calc(12rem + 15vw);
  margin-right: var(--regular-padding);
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95);
}

.unity-desc-container {
  width: calc(15rem + 20vw);
}

.unity-desc-container p {
  font-size: var(--desc-size);
  font-family: var(--scd-font);
}

.section-five {
  height: max(135rem, 100vw);
}

.preserve-container {
  width: calc(var(--full-container) - 2.7vw);
  height: 100%;
}

.preserve-msg-container {
  transform: translateY(-50%);
  margin: calc(var(--regular-padding) * 7.5) 0
    calc(var(--regular-padding) * 2.5);
  position: relative;
}

.preserve-msg-container img {
  width: 100vw;
  height: calc(12rem + 16.5vw);
  transform: translateY(45%);
  position: absolute;
  opacity: 35%;
  bottom: 0;
  object-position: center 20%;
}

.preserve-msg-container h2 {
  font-size: var(--bigger-msg-size);
  font-weight: normal;
  line-height: 120%;
}

.preserve-info-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--regular-padding) * 1.5) 0 var(--regular-padding);
}

.preserve-info-container img {
  width: calc(15rem + 15vw);
  height: calc(15rem + 20.5vw);
  margin-left: var(--regular-padding);
}

.preserve-desc-container {
  width: calc(15rem + 20vw);
}

.preserve-desc-container h3 {
  font-size: var(--medium-size);
  font-weight: normal;
  letter-spacing: var(--medium-ls);
  padding-bottom: calc(var(--regular-padding) / 2.5);
}

.preserve-desc-container p {
  font-size: var(--desc-size);
  font-family: var(--scd-font);
  line-height: 150%;
  letter-spacing: var(--small-ls);
}

.section-six {
  margin-top: calc(var(--regular-padding) * 2);
}

.msg-container {
  height: auto;
  width: var(--wide-container);
}

.msg-container p:nth-child(1) {
  font-size: var(--medium-size);
}

.msg-group {
  margin-top: calc(var(--regular-padding) * 0.55);
  display: flex;
  height: calc(10rem + 21.5vw);
}

.msg-line {
  width: calc(0.5rem + 0.25vw);
  height: 100%;
  background-color: var(--scd-clr);
  margin-left: calc(var(--regular-padding) * 2.5);
}

.msg-reveal {
  margin-left: calc(var(--regular-padding) * 0.85);
  height: calc(10rem + 22.5vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  opacity: 0;
  cursor: pointer;
}

@keyframes blink {
  0% {
    color: var(--scd-clr);
  }
  50% {
    color: var(--scd-clr);
  }
  60% {
    color: var(--main-clr);
  }
  90% {
    color: var(--scd-clr);
  }
  100% {
    color: var(--scd-clr);
  }
}

@keyframes hint {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.parent-span {
  cursor: pointer;
  margin: 0vw calc(0.5vw + 0.5rem);
  animation: 10s blink infinite;
  transition: 250ms ease;
}

.parent-span > span {
  transform: translateX(-97.5%);
  animation: 10s hint infinite;
  font-weight: bold;
  position: absolute;
  transition: 250ms ease;
  opacity: 0;
  background: linear-gradient(red 60%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.parent-span:hover {
  animation: none;
  color: var(--main-clr);
}

.parent-span > span:hover {
  animation: none;
  opacity: 1;
}

.parent-span:active {
  animation: none;
  color: var(--main-clr);
}

.parent-span > span:active {
  opacity: 1;
}

.msg-reveal p:nth-child(1) {
  font-size: var(--bigger-msg-size);
  margin-bottom: var(--regular-padding);
}

.msg-reveal p:nth-child(2) {
  font-size: var(--big-msg-size);
}

.section-seven {
  height: min(1080px, auto);
}

.grid-container {
  text-align: center;
  width: --wide-container;
  margin: calc(var(--regular-padding) * 5) 0;
  position: relative;
}

.grid-container img {
  filter: brightness(85%);
  padding-top: calc(var(--regular-padding) * 0.9);
}

.grid-container h2 {
  font-weight: normal;
  font-size: var(--hero-size);
  line-height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

.section-eight {
  height: calc(20rem + 25vw);
  margin: calc(var(--regular-padding) * 2) 0;
}

.end-container {
  width: var(--wide-container);
  text-align: center;
  position: relative;
}

.end-container h2 {
  font-size: var(--giant-size);
  font-weight: normal;
  position: absolute;
  width: var(--full-container);
  z-index: 2;
  line-height: 90%;
}

.end-overlay {
  width: 100%;
  background-color: black;
  height: calc(20rem + 25vw);
  opacity: 0.5;
  z-index: 1;
  position: absolute;
}

.end-overlay img {
  object-position: top;
}

.section-nine {
  height: min(1080px, auto);
  margin-top: calc(var(--regular-padding) * 7.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes gallery-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -17)
    );
    transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -17)
    );
  }
}

@keyframes gallery-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -17)
    );
    transform: translateX(
      calc((calc(10rem + 16.72vw) + calc(var(--regular-padding) / 2)) * -17)
    );
  }
}

.gallery-container {
  width: 100vw;
  text-align: center;
}

.gallery-container h2 {
  font-size: var(--hero-size);
  font-weight: normal;
  margin-bottom: calc(var(--regular-padding) + 2vw);
}

.gallery-images {
  margin-top: calc(var(--regular-padding) - 1vw);
  height: calc(5rem + 12.5vw);
  background-color: var(--main-clr);
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.gallery-row {
  -webkit-animation: gallery-scroll 45s linear infinite;
  animation: gallery-scroll 45s linear infinite;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.box {
  width: calc(10rem + 16.72vw);
  height: calc(5rem + 12.5vw);
  margin-right: calc(var(--regular-padding) / 2);
  background-color: var(--scd-clr);
  transition: 250ms ease;
  position: relative;
  cursor: context-menu;
}

.box p {
  opacity: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-family: var(--scd-font);
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: calc(var(--desc-size) + 1.1vw);
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  transition: 250ms ease;
  line-height: 100%;
}

.up img {
  object-position: center 25%;
}

.down img {
  object-position: bottom;
}

.box:hover {
  -webkit-filter: brightness(0.55);
  filter: brightness(0.55);
}

.box:active {
  -webkit-filter: brightness(0.55);
  filter: brightness(0.55);
}

.box p:hover {
  -webkit-filter: brightness(5);
  filter: brightness(5);
  opacity: 1;
}

.box p:active {
  -webkit-filter: brightness(5);
  filter: brightness(5);
  opacity: 1;
}

footer {
  height: calc(5rem + 5vw);
  display: flex;
  align-items: center;
  font-family: var(--scd-font);
  padding-left: var(--regular-padding);
}

.circle {
  width: var(--regular-padding);
  height: var(--regular-padding);
  border: calc(0.1rem + 0.1vw) solid var(--scd-clr);
  border-radius: 50%;
}

.circle p {
  font-size: var(--small-size);
  font-family: var(--scd-font);
}

.name {
  margin-left: calc(var(--regular-padding) / 3);
}

.name p {
  font-family: var(--scd-font);
  font-size: var(--small-size);
}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
  .section-six {
    height: max(100vh, auto);
  }

  .msg-container {
    padding: var(--nav-size) 0;
    width: var(--wide-container);
    text-align: center;
  }

  .msg-container > p {
    font-size: var(--small-size);
    margin: 0 calc(var(--regular-padding) + 1vw);
    line-height: max(calc(10vw - 0.5rem), 75%);
  }

  .msg-group {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .msg-line {
    background-color: var(--scd-clr);
    height: calc(0.05rem + 0.15vw);
    width: 75%;
    margin: 0 auto;
  }

  .msg-reveal {
    margin: 0 calc(var(--regular-padding));
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .msg-reveal p:nth-child(1) {
    margin-top: calc(var(--regular-padding) + 2.5vw);
    font-size: var(--bigger-msg-size);
  }

  .msg-reveal p:nth-child(2) {
    margin-top: calc(var(--regular-padding) + 0.5vw);
    font-size: var(--big-msg-size);
  }

  .end-container h2 {
    font-size: var(--bigger-msg-size);
  }
}

@media screen and (max-width: 900px) {
  .section-three {
    height: auto;
  }

  .section-four {
    height: auto;
  }

  .section-five {
    height: auto;
  }

  .section-six {
    height: 100vh;
  }

  .section-eight {
    height: 800px;
  }

  .news-info {
    flex-direction: column;
    height: auto;
  }

  .news-img-container {
    padding: var(--regular-padding) 0 0;
    width: var(--full-container);
    height: calc(var(--full-container) - 30vw);
  }

  .news-desc-container {
    width: var(--full-container);
    padding: var(--regular-padding) 0 calc(var(--regular-padding) * 2);
    padding-left: 0;
  }

  .unity-container {
    height: auto;
  }

  .unity-msg-container {
    flex-direction: column;
  }

  .unity-msg-container p {
    margin-right: 0;
    margin-bottom: var(--regular-padding);
  }

  .unity-info-container {
    flex-direction: column;
    justify-content: center;
  }

  .unity-info-container img {
    margin: var(--regular-padding) 0;
    width: var(--full-container);
    height: calc(var(--full-container) - 30vw);
  }

  .unity-desc-container {
    width: var(--full-container);
  }

  .preserve-container {
    height: auto;
  }

  .preserve-info-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .preserve-info-container img {
    margin: 0 0 var(--regular-padding);
    width: var(--full-container);
    height: calc(var(--full-container) - 30vw);
  }

  .preserve-msg-container {
    height: auto;
  }

  .preserve-desc-container {
    width: var(--full-container);
  }

  .preserve-desc-container p {
    font-size: var(--desc-size);
    font-family: var(--scd-font);
    line-height: 150%;
    letter-spacing: var(--small-ls);
  }

  .grid-container h2 {
    font-size: var(--hero-size);
  }

  .end-container {
    height: auto;
  }

  .end-container h2 {
    font-size: calc(var(--bigger-msg-size) + 2.5vw);
  }
}
